
.containerPrincipal{
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    margin-top: 20px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgb(255, 255, 255);
    display: block;

  }

.namePokemon{
  color: #fff;
  }

.containerSecundary{
  display: flex;
  background-color: #545B77;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
    
  }
